# Logs
my-react-app/logs
*.log
my-react-app/npm-debug.log*
my-react-app/yarn-debug.log*
my-react-app/yarn-error.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
my-react-app/build/Release

# Dependency directories
my-react-app/node_modules/
my-react-app/jspm_packages/

# Distribution directories
my-react-app/dist/

# Typescript v1 declaration files
my-react-app/typings/

# Optional npm cache directory
my-react-app/.npm

# Optional eslint cache
my-react-app/.eslintcache

# Optional REPL history
my-react-app/.node_repl_history

# Output of 'npm pack'
my-react-app/*.tgz

# Yarn Integrity file
my-react-app/.yarn-integrity