<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<h3>ADD A NEW BOOK : </h3>

<!--<form>-->
<!--    Name : <input type = "text">-->
<!--    Class : <input type = "text">-->
<!--</form>-->

<form th:action = "@{/addBook}" th:object="${book}" method="POST" >
    Book Title : <input type ="text" th:field="*{bookTitle}"/>
    <br><br>
    Author Name : <input type ="text" th:field="*{bookAuthor}"/>
    <br><br>
    Rating : <input type = "text" th:field="*bookRating">
    <br><br>
<!--    Genre : <input type ="text"/>-->
    <br><br>
    <input type="submit" value="Submit" />
</form>
</body>
</html>