<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Verse</title>
    <link rel="stylesheet" th:href="@{/css/book-details.css}"/>
</head>
<body style="padding : 50px">

<div style="display: flex; align-items: center; ">
    <img th:src="${book.bookCoverLink}" alt="Book Cover" width="240" height="320" style="margin-right: 20px; border-radius: 8px;">
    <div>
        <h2 th:text="${book.bookTitle}">Book Name</h2>
        <p class="author"><strong>Author:</strong> <span th:text="${book.bookAuthor}">Author Name</span></p>
        <p class="rating"><strong>Rating:</strong> <span th:text="${book.bookRating}">[rating]</span></p>

        <br>

        <div class="button-container">
            <button>WISHLIST</button>
            <button>BUY NOW</button>
        </div>

        <br>

        <p>This book tells you the story of how the narrator can fight against anything that comes in his way. The state of mind which makes
            you believe that you are the main character i.e. the protagonist of the story and you won't be defeated no matter what comes in
            the way. </p>
    </div>
</div>

<!--book recommendations dummy-->

<br><br>

<h2>SIMILAR BOOKS :</h2>
<div class="books-container" >

    <div class="books-container">

        <div th:each="similarBook : ${similarBooks}" class="book-card">
            <a th:href="@{'/book-details/' + ${similarBook.bookId}}" style="text-decoration: none; color: inherit; display: block;">
                <div style="align-items: center;">
                    <img th:src="${similarBook.bookCoverLink}" alt="Book Cover" width="120" height="160" style="margin-right: 20px; border-radius: 8px;">
                    <div>
                        <h2 th:text="${similarBook.bookTitle}">Book Name</h2>
                        <p class="author"><strong>Author:</strong> <span th:text="${similarBook.bookAuthor}">Author Name</span></p>
                        <p class="rating"><strong> ⭐ </strong> <span th:text="${similarBook.bookRating}">[rating]</span></p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

</body>
</html>